body {
	background: skyblue url("../images/background.jpg");
	max-width: 100%;
	font-family: "Boogaloo", Arial, Verdana;
}

img {
	max-width: 200px;
	width: 100%;
}

.stage-2, .stage-3, .stage-4 {
	display: none;
}

.row {
	max-width: 100%;
}

 .transparency-wrapper {
	background-color: rgba(255, 255, 255, .7);
	height: 100vh;
}

header h3 {
	line-height: 0;
}

header {
	margin-bottom: 40px;
}

p {
	font-size: 18px;
}

.button-text {
	margin: 0;
}